@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/reset";
@import "vendors/bootstrap4grid.scss";

@import "base/typography";
@import "base/base";
@import "base/helpers";

@import "layout/l-wrapper";
@import "layout/l-layout";

// Files components
@import "components/common/c-icon";
@import "components/common/c-button";
@import "components/common/c-input";
@import "components/common/c-dropdown";
@import "components/common/c-checkbox";
@import "components/common/c-tags";
@import "components/common/c-link";

// Files for header
@import "components/common/c-header";
@import "components/common/c-select";
@import "components/common/c-logo";

// Files section
@import "components/common/c-search-panel";
@import "components/common/c-aside-menu";
@import "components/common/c-aside-price";
@import "components/common/c-slider";
@import "components/common/c-filters";
@import "components/common/c-listing-item";
@import "components/common/c-tooltip";
@import "components/common/c-mobile-price";

// File search page
@import "components/search/c-search";
@import "components/search/c-listing";

// File for footer
@import "components/common/c-footer";

// File popup
@import "components/common/c-car-popup";
@import "components/common/c-popup";

// ============== PAGE STYLES ==============

.buy-layout {
  padding: 16rem 0 12.8rem;

  @include bp-md {
    padding: 6.4rem 0 9.6rem;
  }
}

.buy-section {
  margin-bottom: $indent-xxl;
  padding: $indent-xl;
  background: #ffffff;
  border-radius: 2.4rem;

  @include bp-md {
    padding: $indent-xl $indent-l;
    filter: drop-shadow(0px 12px 24px rgba(25, 27, 26, 0.08));
  }

  @include bp-xs {
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
}

.buy-section__c-button {
  width: 100%;
  justify-content: center;
  margin-top: $indent-l;
}

.buy-section .listing-item {
  box-shadow: none;
  margin-bottom: 0;
}

.buy-section .listing-item__body {
  border: none;
}

.buy-section__title {
  display: block;
  margin: 0 0 1.2rem;
  font-weight: $type-weight--bold;
  font-size: 3.2rem;
  line-height: 110%;
  align-items: center;
  color: #191b1a;

  @include bp-md {
    margin-bottom: $indent-s;
    font-size: 2.4rem;
  }
}

.buy-section__subtitle {
  display: block;
  margin: 0;
  font-weight: $type-weight--bold;
  font-size: 2.4rem;
  line-height: 110%;
  color: #191b1a;
}

.buy-section__text {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #919291;
}

.buy-section-checkbox {
  width: 100%;
  margin-top: 24px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.buy-section-checkbox__input {
  display: inline-block;
  margin-right: 12px;
  width: 32px;
  height: 32px;
  background: #fafafa;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

.buy-section-checkbox__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #191b1a;
}

.buy-input-wrapper {
  padding: 32px 0;
  border-bottom: 1px solid #e3e3e3;
}

.buy-input__label {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
  color: #919291;

  @include bp-md {
    display: block;
    margin-bottom: 16px;
  }
}

.buy-layout .c-search-panel__field {
  @include bp-md {
    height: 6.4rem;
  }
}

.but-input__notice {
  display: block;
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #191b1a;
}

// ============== TABS ==============

.buy-tabs {
  position: relative;
  //padding-top: 80px;
  padding-top: 112px;
}

//.tabs-labels {
//  width: 100%;
//
//  display: flex;
//  flex-flow: row nowrap;
//  justify-content: center;
//  align-items: center;
//}

.tabs-label {
  position: absolute;
  top: 0;
  width: 50%;
  height: 80px;
  cursor: pointer;
  color: #191b1a;
  background: #f6f6f6;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  display: flex;
  align-items: center;
  text-align: center;

  @include bp-md {
    font-size: 20px;
  }
}

.tabs-label--left {
  left: 0;
  border-radius: 16px 0px 0px 16px;
}

.tabs-label--right {
  right: 0;
  border-radius: 0px 16px 16px 0px;
}

.tabs-input:checked + .tabs-label {
  color: #ffffff;
  background: #78b9f3;
}

.tabs-input {
  display: none;
}

.tabs-content {
  display: none;
}

.tabs-input:checked + .tabs-label + .tabs-content {
  display: block;
}

.tab-content-inner {
  padding-top: 32px;
  border-top: 1px solid #e3e3e3;
}

.tab-content-inner .checkbox label {
  @include bp-md {
    font-size: 16px;
    line-height: 130%;
  }
}

.c-input.buy-input-wrapper__c-input {
  padding-left: $indent-l;
}
