.c-faq {
  padding: 9.6rem 0 6.4rem 0;

  @include bp-md {
    padding-bottom: 0;
  }
}

.c-faq__repeated {
  padding: 6.4rem 0 12.8rem 0;

  @include bp-md {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
  }
}
