.c-home {
  padding-top: 10rem;
  padding-left: 8rem;
  padding-right: 8rem;

  @include bp-md {
    // padding-top: 10rem;
    // padding-bottom: 4rem;
  }
}

.c-home__title {
  max-width: 85rem;
  color: $color-white;

  @include type-headline-1;
}

.c-home__description {
  max-width: 49rem;
  color: $color-white;
  font-weight: $type-weight--medium;
  font-size: 2rem;
  line-height: 150%;
  margin-top: $indent-l;
}

.c-home__inner {
  min-height: 77.5rem;
  background: url("../../../img/home-intro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6.4rem;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.c-home__search-panel {
  margin-top: 8rem;
}
