.c-home {
  padding-top: 10rem;
  padding-left: 8rem;
  padding-right: 8rem;

  @include bp-lg {
  }

  @include bp-md {
    padding-top: 6.4rem;
    padding-left: 0;
    padding-right: 0;
  }

  @include bp-sm {
  }

  @include bp-xs {
  }
}

.c-home__inner {
  min-height: 77.5rem;
  background: url("../../../img/home-intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6.4rem;
  // padding-top: 9.6rem;
  // padding-bottom: 9.6rem;

  @include bp-md {
    padding-top: 4.8rem;
    min-height: 57.6rem;
    border-radius: 0;
    background-position: left;
    position: relative;
  }
}

.c-home__title {
  max-width: 85rem;
  color: $color-white;

  @include type-headline-1;
}

.c-home__description {
  max-width: 49rem;
  color: $color-white;
  font-weight: $type-weight--medium;
  font-size: 2rem;
  line-height: 150%;
  margin-top: $indent-l;

  @include bp-md {
    font-size: 1.6rem;
  }
}

.c-home__search-panel {
  margin-top: 8rem;

  @include bp-md {
    position: absolute;
    left: 0;
    right: 0;
    top: 4.8rem;
    margin-top: 0;
  }
}
