.accordion-card {
  margin-bottom: 48px;
  padding: 32px;
  background: #ffffff;
  border-radius: 24px;

  @include bp-md {
    padding: 32px 24px;
  }

  @include bp-sm {
    box-shadow: 0px 12px 24px rgba(25, 27, 26, 0.08);
  }

  @include bp-xs {
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
}

.accordion-card__input {
  display: none;
}

.accordion-card-label {
  position: relative;
  display: block;
  padding-right: 80px;
  cursor: pointer;
}

.accordion-card-label__title {
  display: block;
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  align-items: center;
  color: #191b1a;

  @include bp-md {
    font-size: 24px;
    margin: 0 0 25px;
  }
}

.accordion-card-label__text {
  display: block;
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #919291;

  @include bp-md {
    margin-right: -60px;
  }
}

.accordion-card-content {
  display: none;
}

.accordion-card__input:checked
  + .accordion-card-label
  + .accordion-card-content {
  display: block;
  padding-top: 32px;

  @include bp-md {
    padding-top: 12px;
  }
}

.accordion-card-content--wrapper-for-second-level {
  display: block;
}

.accordion-card-content--wrapper-for-second-level .accordion-card-content {
  padding-top: 12px !important;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #919291;
}

// ==================== INDICATOR ====================

.accordion-card-label__indicator {
  position: absolute;
  top: 0px;
  right: 0px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  background: rgba(25, 27, 26, 0.06);
  border-radius: 12px;
  transition-duration: 0.3s;

  @include bp-md {
    top: -10px;
  }
}

.accordion-card__input:checked
  + .accordion-card-label
  .accordion-card-label__indicator {
  background: #78b9f3;
}

.accordion-card-label__indicator:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("/img/icons/accordion-angle-gray.svg") 50% 50% / contain
    no-repeat;
  transition-duration: 0.3s;
}

.accordion-card__input:checked
  + .accordion-card-label
  .accordion-card-label__indicator:after {
  transform: translate(-50%, -50%) rotate(180deg);
  background: url("/img/icons/accordion-angle-white.svg") 50% 50% / contain
    no-repeat;
  transition-duration: 0.3s;
}

// ==================== SECOND LEVEL ====================

.accordion-card-content-item {
  padding: 24px 0;
  border-top: 1px solid #e3e3e3;
}

.accordion-card-content-item:last-child {
  //padding-bottom: 0;
  border-bottom: 1px solid #e3e3e3;
}

.accordion-card-content .accordion-card-label__title {
  margin: 0 0 12px;
  font-size: 18px;
  line-height: 150%;

  @include bp-md {
    font-size: 15px;
    line-height: 1.5;
  }
}

// ==================== SECOND LEVEL INDICATOR ====================

.accordion-card-content .accordion-card-label__indicator {
  position: absolute;
  top: 5px;
  right: 22px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  background: none;
  border-radius: 0;
}

.accordion-card-content
  .accordion-card__input:checked
  + .accordion-card-label
  .accordion-card-label__indicator {
  background: none;
  border-radius: 0;
}

.accordion-card-content .accordion-card-label__indicator:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("/img/icons/accordion-angle-gray.svg") 50% 50% / contain
    no-repeat;
  transition-duration: 0.3s;
}

.accordion-card-content
  .accordion-card__input:checked
  + .accordion-card-label
  .accordion-card-label__indicator:after {
  transform: translate(-50%, -50%) rotate(180deg);
  background: url("/img/icons/accordion-angle-blue.svg") 50% 50% / contain
    no-repeat;
  transition-duration: 0.3s;
}

.accordion-card-content .accordion-card-content {
  padding-bottom: 0 !important;
}

.accordion-card-content .accordion-card-content p {
  @include bp-md {
    font-size: 16px;
    line-height: 150%;
    color: #919291;
  }
}

.accordion-card-content .accordion-card-label__title {
  margin-bottom: 0 !important;
}
