.c-button {
  display: inline-flex;
  align-items: center;
  padding: $indent-m $indent-l;
  color: $color-white;
  font-weight: $type-weight--semi-bold;
  background-color: $color-secondary;
  cursor: pointer;
  transition: background-color $motion-m;
  position: relative;
  border-radius: 999rem;

  @include bp-sm {
    width: 100%;
  }

  &:hover {
    background-color: #8dcbf2;
    color: $color-white;
  }

  @include link-events {
    outline: none;
    color: $color-white;
    background-color: #8dcbf2;
  }
}

.c-button--border {
  padding: 1.2rem $indent-xl;
  background-color: transparent;
  border: 0.02rem solid $color-secondary;
  border-radius: 10rem;
  color: $color-secondary;

  &:hover {
    background-color: $color-secondary;
    color: $color-white;
  }
}

.c-button--link {
  text-decoration-line: underline;
  font-weight: $type-weight--semi-bold;
  color: $color-secondary;
}

.c-button--green {
  background-color: $color-primary;
}
