.cta {
  padding: $indent-xxl 0;
  background-color: $color-secondary;
  color: $color-white;
}

.c-cta__title {
  @include bp-xs {
    max-width: 28rem;
  }
}

.c-cta__description {
  color: rgba(255, 255, 255, 0.64);
}

.c-cta__form-icon {
  width: 2rem;
  background-color: $color-secondary;
  position: absolute;
  left: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.c-cta__form-input {
  height: 6.5rem;
  width: 100%;
  padding-left: 5.6rem;
  background-color: $color-white;
  border-radius: 1.2rem;
  position: relative;
}

.c-cta__form-button {
  border-radius: 0.8rem;
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  bottom: 0.4rem;
  z-index: 2;

  @include bp-md {
    position: unset;
    font-size: 2rem;
    justify-content: center;
    border: 0.2rem solid $color-white;
    margin-top: 1.2rem;
  }
}
