.c-footer {
  padding: $indent-xxl 0;
  color: $color-black;
  background-color: $color-black;

  @include bp-md {
    // padding: 8rem 0;
  }

  @include bp-sm {
    // padding: 4rem 0;
  }
}

.c-footer__copyright {
  color: $color-white;
  line-height: 130%;

  @include bp-md {
    font-size: 1.6rem;
  }
}

.c-footer__copyright-text {
  font-weight: $type-weight--bold;
}

.c-footer__design-author {
  display: block;
  color: $color-grey;
}

.c-footer__links {
  @include bp-md {
    display: flex;
    flex-direction: column;
    margin-top: $indent-xxl;
  }
}

.c-footer__link {
  color: $color-white;
  font-weight: $type-weight--bold;
  margin-right: $indent-xl;

  @include link-events {
    color: $color-white;
  }

  @include bp-md {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: $indent-m;
  }
}

.c-footer__link:last-child {
  margin-right: 0;

  @include bp-md {
    margin-bottom: 0;
  }
}
