.c-heading {
  margin-bottom: $indent-xl;

  @include bp-sm {
    margin-bottom: 4rem;
  }
}

.c-heading__title {
  @include type-headline-2;
}

.c-heading__description {
  font-weight: $type-weight--medium;
  line-height: 150%;
  color: $color-grey;
  margin-top: $indent-l;

  @include bp-sm {
    font-size: 1.6rem;
    margin-top: $indent-m;
  }
}

.c-heading .link {
  color: $color-secondary;

  @include link-events {
    color: $color-secondary;
  }
}