.c-input {
  width: 100%;
  box-sizing: border-box;
  color: $color-grey;
  background-color: #fafafa;
  padding: $indent-l $indent-l $indent-l 5rem;
  border: 0.2rem solid $color-divider;
  border-radius: 1.2rem;
  font-weight: $type-weight--medium;
  transition: border-width $indent-m linear;


  &--small {
    flex-grow: 1;
    width: 100%;
  }

  &--large {
    width: 58.8rem;
    max-width: 100%;
  }

  &--textarea {
    width: 100%;
    height: 100%;
    position: relative;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
    padding-top: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 1.6rem;
  }

  &::placeholder {
    font-weight: inherit;
  }

  // &::invalid {
  //   border: 2px dashed red;
  // }

  // &::valid {
  //   border: 2px solid black;
  // }

}

label:hover .c-input {
  border-width: 0.2rem;
  border-color: $color-secondary;
}

.c-input-group-append {
  color: $color-grey;
  font-weight: $type-weight--medium;
  position: absolute;
  right: 3.2rem;
  top: 50%;
  transform: translateY(-50%);

  &::before {
    content: "";
    position: absolute;
    left: -$indent-m;
    top: 50%;
    transform: translateY(-50%);
    height: 4rem;
    width: 0.1rem;
    background-color: $color-divider;
  }
}

.c-label {
  position: relative;
  display: block;
}

.c-label__icon {
  width: $ui-size-xs;
  height: $ui-size-xs;
  position: absolute;
  left: $indent-l;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-secondary;
}