.c-search-panel {
  background-color: $color-white;
  border-radius: 2.4rem;
  padding: $indent-xxl;
  margin-bottom: $indent-xxl;

  @include bp-sm {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 1.2rem 2.4rem rgba(25, 27, 26, 0.08);
    padding: $indent-xl $indent-l;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }
}

.c-search-panel__accept {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16.4rem;
  margin-bottom: 4.8rem;

  @include bp-sm {
    flex-direction: column;
    margin-top: 7.4rem;
  }
}

.c-search-panel__accept-c-button {
  color: $color-grey;
  background-color: rgba(25, 27, 26, 0.06);
  padding-left: $indent-xl;
  padding-right: $indent-xl;
  transition: background-color $motion-s linear;

  @include bp-sm {
    justify-content: center;
  }

  @include link-events {
    color: $color-grey;
    background-color: rgba(25, 27, 26, 0.1);
  }
}

.c-search-panel__title {
  font-weight: $type-weight--bold;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: $indent-m;

  @include bp-sm {
    margin-bottom: 0;
  }
}

.c-search-panel__descr {
  font-weight: $type-weight--medium;
  color: $color-grey;

  @include bp-sm {
    margin-bottom: $indent-xl;
  }
}

.с-search-panel__line {
  display: flex;
  flex-direction: row;

  @include bp-md {
    flex-direction: column;
  }
}

.с-search-panel__line>.c-search-panel__field {
  margin-right: $indent-m;

  @include bp-md {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }

  &:last-child {
    margin-right: 0;

    @include bp-md {
      margin-bottom: 0;
    }
  }
}

.c-search-panel__checkbox-wrapper {
  display: flex;

  @include bp-md {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: $indent-l;
  }
}

.c-search-panel__checkbox-wrapper .checkbox:first-child {
  // @include bp-lg {
  //   margin-right: 6.4rem;
  //   width: auto;
  // }

  @include bp-sm {
    margin-bottom: $indent-m;
    margin-right: 0;
    width: 100%;
  }

  // 1320px;
  @include bp-xl {}

  //1200px;
  @include bp-lg {}

  //992px;
  @include bp-md {}

  //768px
  @include bp-sm {}

  // 576px
  @include bp-xs {}
}

.c-search-panel__field--flex {
  display: flex;
}

.c-search-panel__field--large {
  max-width: 58.5rem;
  flex-grow: 1;

  @include bp-lg {
    max-width: 100%;
  }
}

.с-search-panel__line--bottom {
  align-items: center;
  margin-top: $indent-l;

  @include bp-md {
    align-items: flex-start;
  }
}

.с-search-panel__c-button {
  justify-content: space-between;
  min-width: 25rem;
  margin-left: auto;
}

.с-search-panel__label {
  display: flex;
  flex-grow: 1;
}

.с-search-panel__label--large {
  flex-grow: 58.5rem;
}

.с-search-panel__c-button-icon {
  margin-left: 1rem;
  background-color: $color-white;
}