.c-search-panel {
  background-color: $color-white;
  border-radius: 2.4rem;
  padding: $indent-xxl;

  @include bp-md {
    box-shadow: 0 1.2rem 2.4rem rgba(25, 27, 26, 0.08);
    padding: $indent-xl $indent-l;
  }
}

.c-search-panel__title {
  font-weight: $type-weight--bold;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: $indent-m;
}

.с-search-panel__line {
  display: flex;
  flex-direction: row;

  @include bp-md {
    flex-direction: column;
  }
}

.с-search-panel__line > .c-search-panel__field {
  margin-right: $indent-m;

  @include bp-md {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }

  &:last-child {
    margin-right: 0;

    @include bp-md {
      margin-bottom: 0;
    }
  }
}

.c-search-panel__checkbox-wrapper {
  @include bp-md {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: $indent-l;
  }
}

.c-search-panel__field--flex {
  display: flex;
  width: 100%;
}

.с-search-panel__line--bottom {
  align-items: center;
  margin-top: $indent-l;

  @include bp-md {
    align-items: flex-start;
  }
}

.с-search-panel__c-button {
  justify-content: space-between;
  min-width: 25rem;
  margin-left: auto;
}

.с-search-panel__label {
  display: flex;
  flex-grow: 1;
}

.с-search-panel__c-button-icon {
  margin-left: 1rem;
}
